<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Веб-застосунок тестування моделі</title>
    <!-- Підключення CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Детекція та класифікація військової техніки на зображенні</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Завантажити</button>
    </form>
    {% if input_image and output_image %}
    <div class="image-container">
        <div class="image-box">
            <h2>Завантажене зображення</h2>
            <img src="{{ url_for('static', filename=input_image) }}" alt="Input Image">
        </div>
        <div class="image-box">
            <h2>Опрацьоване зображення</h2>
            <img src="{{ url_for('static', filename=output_image) }}" alt="Output Image">
        </div>
    </div>
    {% endif %}
</body>
</html>
